.strategy-row {
  margin: 40px 0;

  &__title-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__icon {
    width: 35px;
    height: 35px;
  }

  &__title {
    margin: 0 0 0 10px;
    color: #0a0a0a;
    font-weight: 600;
  }

  li {
    margin-bottom: 10px;
  }
}
