@mixin bubbleColor($color: #8d66cc){
  .bubble__content {
    background-color: $color;
    &:after {
      background-color: $color;
    }
  }
}

.bubble {
  display: flex;
  margin-bottom: 20px;

  //['#c23531','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3']
  &_left {
    .bubble__content {
      margin-left: 20px;

      &:after {
        left: 0;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }

  &_right {
    flex-direction: row-reverse;
    justify-content: flex-start;

    .bubble__content {
      margin-right: 20px;

      &:after {
        right: 0;
        transform: translateX(50%) rotate(45deg);
      }
    }
  }

  &_8d66cc{
    @include bubbleColor();
  }

  &_c23531{
    @include bubbleColor(#c23531);
  }

  &_61a0a8{
    @include bubbleColor(#61a0a8);
  }

  &_d48265{
    @include bubbleColor(#d48265);
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bbb;
  }

  &__content {
    max-width: 600px;
    border-radius: 8px;
    padding: 8px 12px;
    color: #fff;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 20px;
      width: 10px;
      height: 10px;
    }
  }

  &__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  &__sentence {
    margin: 10px 0;
  }
}
