@mixin bubbleColor($color: #8d66cc){
  .bubble__content {
    background-color: $color;
    &:after {
      background-color: $color;
    }
  }
}

.bubble {
  display: flex;
  margin-bottom: 20px;

  &_left {
    .bubble__content {
      margin-left: 20px;

      &:after {
        left: 0;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }

  &_right {
    flex-direction: row-reverse;
    justify-content: flex-start;

    .bubble__content {
      margin-right: 20px;

      &:after {
        right: 0;
        transform: translateX(50%) rotate(45deg);
      }
    }
  }

  &_8d66cc{
    @include bubbleColor();
  }

  //Colors = ['2ec7c9', 'b6a2de', '5ab1ef', 'ffb980', 'e5cf0d', '97b552', 'd87a80', '9a7fd1'];

  &_2ec7c9{
    @include bubbleColor(#2ec7c9);
  }

  &_b6a2de{
    @include bubbleColor(#b6a2de);
  }

  &_5ab1ef{
    @include bubbleColor(#5ab1ef);
  }

  &_ffb980{
    @include bubbleColor(#ffb980);
  }

  &_e5cf0d{
    @include bubbleColor(#e5cf0d);
  }

  &_97b552{
    @include bubbleColor(#97b552);
  }

  &_d87a80{
    @include bubbleColor(#d87a80);
  }

  &_9a7fd1{
    @include bubbleColor(#9a7fd1);
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bbb;
  }

  &__content {
    max-width: 600px;
    border-radius: 8px;
    padding: 8px 12px;
    color: #fff;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 20px;
      width: 10px;
      height: 10px;
    }
  }

  &__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  &__sentence {
    margin: 10px 0;
  }
}
