@import "../../../../variables";

.hero-slide {
  background: url("../../../../assets/bg/bg-hero-slide.jpg") center center no-repeat;
  background-size: cover;

  &__container{
    height: 100vh;
    display: flex;
    align-items: center;
  }

  &__left, &__right {
    flex: 1;
  }

  &__left {

  }

  &__right {
  }

  &__title {
    font-size: 60px;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    color: #0a0a0a;
    line-height: 1.2;
    font-weight: 600;

    &_color {
      color: $main-color;
    }
  }

  &__desc{
    color: rgba($main-color, .7);
    font-size: 19px;
    line-height: 1.4;
    margin-top: 15px;
  }
}

@media screen and (max-width: $mobile-width) {
  .hero-slide {
    &__left {
      padding: 0 30px;
    }

    &__right {
      display: none;
    }
  }
}
