@import "../../../../variables";

.hero-slide {
  background: url("../../../../assets/bg/bg-hero-slide.jpg") center center no-repeat;
  background-size: cover;

  &__container {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  &__left, &__right {
    flex: 1;
  }

  &__left {

  }

  &__right {
  }

  &__title {
    font-size: 50px;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    color: #0a0a0a;
    line-height: 1.2;
    font-weight: 600;
    text-shadow: 0 1px 3px rgba($main-color, .4);

    &_color {
      color: $main-color;
    }
  }

  &__desc {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 15px;
    text-shadow: 0 1px 0px rgba(0, 0, 0, .2);
  }
}

@media screen and (max-width: $mobile-width) {
  .hero-slide {
    &__left {
      padding: 0 30px;
    }

    &__right {
      display: none;
    }
  }
}
