@import "../../variables";

.header {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #0a0a0a;
  }

  &__container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    font-size: 15px;
  }

  &__li {
    margin-left: 30px;
    font-weight: 600;
    color: #8d66cc;
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
  }

  &__menu-icon{
    display: none;
  }
}

@media screen and (max-width: $mobile-width) {
  .header {
    &__container {
      padding: 0 10px;
    }

    &__menu {
      display: none;
    }

    &__menu-icon{
      display: block;
      color: #6e41bf;
      font-size: 20px;
      cursor: pointer;
      padding-left: 10px;
    }
  }
}
