@import "./variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.section {
  max-width: 1000px;
  margin: 0 auto;
}

.app {
  height: calc(100vh - 70px);
  padding-top: 70px;
}

.layout {
  padding-bottom: 30px;
}

.gray {
  background-color: aliceblue;
}

@media screen and (max-width: $mobile-width) {
  .section {
    padding: 0 40px;
  }

  .app {
    &__backtop {
      right: 20px;
      bottom: 20px;
    }
  }
}
