.banner {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue center center no-repeat;
  background-size: cover;

  &__title {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }
}
